@charset "UTF-8";
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #14cf93;
  border-radius: 10px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.inner {
  margin: 0 5vw;
}

.point {
  font-family: "Mazius", sans-serif;
  color: #14cf93;
}

.line-bg {
  position: relative;
}
@media (max-width: 767px) {
  .line-bg {
    display: none;
  }
}
.line-bg::after {
  content: "";
  position: absolute;
  top: -5vw;
  left: 0;
  width: 100%;
  height: 150px;
  background: url("../images/line.svg");
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

body {
  font-family: "Gilroy", sans-serif;
  line-height: 1.2;
  background: #fcfaf8;
  overflow: overlay;
}
body.hidden {
  overflow: hidden;
}

@font-face {
  font-family: "Gilroy";
  src: url(../../font/Gilroy-Medium.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(../../font/Gilroy-SemiBold.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Mazius";
  src: url(../../font/Kalam-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #253b39;
  padding: 10vh 0 3vh;
}
@media (max-width: 767px) {
  .footer {
    background: #2e2e2e;
    padding: 10vh 0 5vh;
  }
}
.footer .text-area {
  text-align: center;
  color: #fff;
  font-size: 90px;
  line-height: 1;
}
@media (max-width: 767px) {
  .footer .text-area {
    font-size: 15vw;
  }
}
.footer .text-area .desc {
  display: block;
}
.footer .arrow-ico {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .footer .arrow-ico {
    display: none;
  }
}
.footer .sns-list {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 0 8vw;
  margin: 10vh 0 20vh;
}
@media (max-width: 767px) {
  .footer .sns-list {
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: 10vh 0;
  }
}
.footer .sns-item {
  position: relative;
  width: 50%;
  overflow: hidden;
}
.footer .sns-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.6;
}
.footer .sns-item:hover .link-sns {
  padding: 14px 18px;
}
@media (max-width: 767px) {
  .footer .sns-item:hover .link-sns {
    padding: 25px 20px;
  }
}
.footer .sns-item:hover .color-box {
  height: 100%;
}
@media (max-width: 767px) {
  .footer .sns-item {
    width: 100%;
  }
}
.footer .color-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #14cf93;
  transition: height 0.5s;
}
.footer .link-sns {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  color: #fff;
  transition: padding 0.5s;
}
@media (max-width: 767px) {
  .footer .link-sns {
    padding: 25px 0;
  }
}
.footer .link-sns .title {
  position: relative;
  display: block;
  font-size: 1.5vw;
  padding-bottom: 4px;
}
@media (max-width: 767px) {
  .footer .link-sns .title {
    font-size: 3.5vw;
  }
}
.footer .link-sns .desc {
  display: block;
  font-size: 0.8vw;
  padding-bottom: 4px;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .footer .link-sns .desc {
    font-size: 2vw;
  }
}
.footer .link-sns .right-box {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
}
.footer .link-sns .right-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
}
.footer .address {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(235, 235, 235, 0.4);
  opacity: 0.6;
}
@media (max-width: 767px) {
  .footer .address {
    display: block;
  }
}
.footer .address .credits {
  color: rgba(235, 235, 235, 0.6);
  text-decoration: underline;
  cursor: pointer;
}
.footer .address .right-text {
  color: rgba(235, 235, 235, 0.6);
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer .address .right-text {
    margin-top: 15px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 0 5vw;
  z-index: 100;
}
@media (max-width: 767px) {
  .header {
    height: 100px;
  }
}
.header .gnb {
  width: 100%;
  height: 100%;
}
.header .gnb-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .header .gnb-item.del {
    display: none;
  }
}
.header .link-gnb {
  position: relative;
  font-size: 12px;
  color: #383838;
}
@media (max-width: 767px) {
  .header .link-gnb {
    color: #fff;
  }
}
.header .link-gnb::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.header .link-gnb::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #383838;
}
@media (max-width: 767px) {
  .header .link-gnb::before {
    background: #fff;
  }
}
.header .link-gnb:hover::after {
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-name: stroke;
}

@keyframes stroke {
  0% {
    width: 0%;
  }
  10% {
    width: 30%;
    left: 10%;
  }
  20% {
    width: 30%;
    left: 20%;
  }
  30% {
    width: 30%;
    left: 30%;
  }
  40% {
    width: 30%;
    left: 40%;
  }
  50% {
    width: 30%;
    left: 50%;
  }
  60% {
    width: 30%;
    left: 60%;
  }
  70% {
    width: 30%;
    left: 70%;
  }
  80% {
    width: 20%;
    left: 80%;
  }
  90% {
    width: 10%;
    left: 90%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #14cf93;
  z-index: 500;
}
.loading-page .dimmed {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background: #161616;
}
.loading-page .text-box {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.loading-page .text-box .text {
  font-size: 12px;
  color: #fff;
}
.loading-page .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  font-size: 5vw;
}
@media (max-width: 767px) {
  .loading-page .title {
    font-size: 40px;
  }
}
.loading-page .title .text {
  color: #fff;
}
.loading-page .title .text.margin {
  margin-left: 17px;
}
.loading-page .title .point {
  margin: 0 17px;
}
.loading-page .loading-ico {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  z-index: 10;
}
.loading-page .loading-ico::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color: #fff transparent;
  border-style: solid;
  border-width: 2px;
}

@media (max-width: 767px) {
  .sc-create {
    background: #151515;
  }
}
.sc-create .group-title {
  position: relative;
  padding: 12vw 5vw 0;
}
@media (max-width: 767px) {
  .sc-create .group-title {
    padding: 27vw 0 0 5vw;
  }
}
.sc-create .group-title .title {
  position: relative;
}
.sc-create .group-title .text-box {
  display: flex;
  overflow: hidden;
  font-size: 13vw;
  color: #383838;
}
@media (max-width: 767px) {
  .sc-create .group-title .text-box {
    font-size: 20vw;
    letter-spacing: -4px;
    color: #fff;
  }
}
.sc-create .group-title .text-box.bottom {
  justify-content: end;
}
@media (max-width: 767px) {
  .sc-create .group-title .text-box.bottom {
    justify-content: start;
  }
}
.sc-create .group-title .green-line {
  display: inline-block;
  position: absolute;
  bottom: 3vw;
  left: 6vw;
  width: 22vw;
  height: 6px;
  background: #14cf93;
}
@media (max-width: 767px) {
  .sc-create .group-title .green-line {
    top: 25vw;
    left: auto;
    right: 0;
  }
}
.sc-create .arrow-ico {
  position: absolute;
  bottom: 1.5vw;
  left: 5vw;
}
.sc-create .arrow-ico img {
  width: 4.2vw;
}
@media (max-width: 767px) {
  .sc-create .arrow-ico {
    display: none;
  }
}
.sc-create .sub-title {
  position: absolute;
  display: flex;
  gap: 10vw;
  top: 18vw;
  right: 10vw;
}
@media (max-width: 767px) {
  .sc-create .sub-title {
    top: 85vw;
    left: 7vw;
  }
}
.sc-create .sub-title .desc-box {
  display: flex;
  overflow: hidden;
}
.sc-create .sub-title .desc {
  font-size: 12px;
  color: #a2a2a2;
}
.sc-create .sub-title .i {
  font-family: "Mazius", sans-serif;
}
.sc-create .group-info {
  padding-top: 15vw;
}
@media (max-width: 767px) {
  .sc-create .group-info {
    padding-top: 35vw;
  }
}
.sc-create .info-area {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
}
@media (max-width: 767px) {
  .sc-create .info-area {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.sc-create .left-area {
  width: 40%;
  padding: 10vw 0;
}
@media (max-width: 767px) {
  .sc-create .left-area {
    width: 100%;
    padding: 140vw 0 10vw;
  }
}
.sc-create .left-area .mobile-text {
  display: none;
}
@media (max-width: 767px) {
  .sc-create .left-area .mobile-text {
    display: block;
    padding-left: 2vw;
    margin-bottom: 25px;
    font-size: 12px;
    color: #a2a2a2;
  }
}
.sc-create .left-area .text {
  display: flex;
  overflow: hidden;
  font-size: 2vw;
  font-family: "Pretendard-Regular", sans-serif;
  line-height: 1.35;
  color: #414141;
}
@media (max-width: 767px) {
  .sc-create .left-area .text {
    padding-left: 2vw;
    font-size: 25px;
    color: #fff;
  }
}
.sc-create .left-area .link-contact {
  display: none;
}
@media (max-width: 767px) {
  .sc-create .left-area .link-contact {
    display: flex;
    align-items: center;
    padding: 10vw 0 0 5vw;
  }
}
@media (max-width: 767px) {
  .sc-create .left-area .link-contact .text {
    margin: 3px 0 0 10px;
    font-size: 12px;
    text-decoration: underline #fff;
    color: #fff;
  }
}
.sc-create .right-area {
  position: relative;
  width: 70%;
}
@media (max-width: 767px) {
  .sc-create .right-area {
    width: 100%;
  }
}
.sc-create .img-box {
  position: absolute;
  width: 30vw;
  border-radius: 30px;
  overflow: hidden;
  filter: saturate(0);
  transition: filter 0.5s;
}
@media (max-width: 767px) {
  .sc-create .img-box {
    width: 65vw;
  }
}
.sc-create .img-box:hover {
  filter: saturate(1);
}
.sc-create .img-box img {
  width: 100%;
  height: 100%;
}
.sc-create .img-box.img01 {
  right: 5vw;
  top: 12vw;
  transform: rotate(-10deg);
  z-index: 3;
}
@media (max-width: 767px) {
  .sc-create .img-box.img01 {
    top: 30vw;
    right: 0;
    transform: rotate(5deg);
  }
}
.sc-create .img-box.img02 {
  right: 12vw;
  top: 6vw;
  transform: rotate(-15deg);
  z-index: 2;
}
@media (max-width: 767px) {
  .sc-create .img-box.img02 {
    top: 15vw;
    transform: rotate(0deg);
  }
}
.sc-create .img-box.img03 {
  right: 19vw;
  top: 0;
  transform: rotate(-20deg);
  z-index: 1;
}
@media (max-width: 767px) {
  .sc-create .img-box.img03 {
    left: 0;
    transform: rotate(-5deg);
  }
}
.sc-create .line-bg {
  height: 15vw;
  background: #f2f2f2;
}
.sc-create .line-bg::after {
  transform: rotate(180deg);
}

.sc-works {
  background: #f2f2f2;
  transition: background-color 0.5s;
}
@media (max-width: 767px) {
  .sc-works {
    background: #282828;
  }
}
.sc-works .top-area {
  position: relative;
  width: 100%;
  padding: 0 5vw 0 7vw;
}
.sc-works .top-area .arrow-ico {
  position: absolute;
  top: 10vw;
  left: 5vw;
}
@media (max-width: 767px) {
  .sc-works .top-area .arrow-ico {
    top: 20vw;
    left: 5vw;
  }
}
@media (max-width: 767px) {
  .sc-works .top-area .arrow-ico svg {
    stroke: #fff;
  }
}
.sc-works .top-area .text-box {
  padding: 15vw 0 10vw 13vw;
}
@media (max-width: 767px) {
  .sc-works .top-area .text-box {
    padding: 40vw 0 20vw 0;
  }
}
.sc-works .top-area .desc {
  font-size: 12px;
  color: #a2a2a2;
}
@media (max-width: 767px) {
  .sc-works .top-area .desc {
    display: block;
    padding-left: 15vw;
  }
}
.sc-works .top-area .text {
  font-size: 20px;
  margin-top: 25px;
  color: #414141;
}
@media (max-width: 767px) {
  .sc-works .top-area .text {
    padding-left: 15vw;
    font-size: 17px;
    color: #fff;
  }
}
.sc-works .top-area .underline {
  width: 100%;
  height: 2px;
  margin-top: 150px;
  background-color: rgba(65, 65, 65, 0.3);
}
@media (max-width: 767px) {
  .sc-works .top-area .underline {
    height: 1px;
    margin-top: 100px;
    background-color: rgba(150, 148, 148, 0.4);
  }
}
.sc-works .group-title {
  display: flex;
  justify-content: space-between;
  padding-left: 17.6vw;
  margin-bottom: 10vw;
}
@media (max-width: 767px) {
  .sc-works .group-title {
    display: block;
    padding: 0 5vw 0 7vw;
    margin-bottom: 10vh;
  }
}
.sc-works .group-title .title {
  display: flex;
  overflow: hidden;
}
.sc-works .group-title .title > * {
  font-size: 9vw;
  line-height: 1;
  color: #383838;
}
@media (max-width: 767px) {
  .sc-works .group-title .title > * {
    font-size: 15vw;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .sc-works .group-title .title .txt {
    margin: 80px 0 0 30px;
  }
}
.sc-works .group-title .num {
  font-size: 1.2vw;
  color: #414141;
}
@media (max-width: 767px) {
  .sc-works .group-title .num {
    display: none;
  }
}
.sc-works .group-title .arrow-ico {
  display: flex;
  align-items: end;
  padding-right: 10vw;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .sc-works .group-title .arrow-ico {
    display: block;
    padding: 10vw 0 0 6vw;
  }
}
.sc-works .group-title .arrow-ico .o-ui-arrow {
  transform: rotate(90deg);
}
@media (max-width: 767px) {
  .sc-works .group-title .arrow-ico .o-ui-arrow {
    transform: rotate(45deg);
    stroke: #fff;
  }
}
.sc-works .group-contents {
  position: relative;
  width: 100%;
  height: 100vw;
  padding: 0 5vw;
}
@media (max-width: 767px) {
  .sc-works .group-contents {
    position: static;
    height: auto;
  }
}
.sc-works .group-contents .img-area {
  position: absolute;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .sc-works .group-contents .img-area {
    position: relative;
  }
}
.sc-works .group-contents .img-area .cursor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: max-content;
  height: auto;
  pointer-events: none;
  z-index: 100;
}
.sc-works .group-contents .img-area .cursor .cursor-top {
  display: flex;
  margin-bottom: 15px;
}
.sc-works .group-contents .img-area .cursor .round {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 5px 10px 0 0;
}
.sc-works .group-contents .img-area .cursor .desc {
  width: max-content;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 12px;
  background: #fff;
  color: #000;
}
.sc-works .group-contents .img-area .cursor .line-box {
  padding: 4px 2px 2px 2px;
  border-radius: 10px;
  background: rgba(185, 181, 181, 0.5);
}
.sc-works .group-contents .img-area .cursor .dot {
  display: flex;
  gap: 1px;
  margin: 5px 0 10px;
}
.sc-works .group-contents .img-area .cursor .dot span {
  width: 10px;
  height: 10px;
  background: rgb(196, 195, 195);
  border-radius: 50%;
  margin-left: 12px;
}
.sc-works .group-contents .img-area .cursor .bottom-img {
  width: 250px;
  height: 350px;
}
.sc-works .group-contents .img-area .cursor .bottom-img.wide {
  width: 350px;
  height: 250px;
}
.sc-works .group-contents .img-area .cursor img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-position: bottom;
}
.sc-works .group-contents .img-area.img-area01 {
  top: 0;
  left: 5vw;
  width: 50%;
  height: 45vw;
}
@media (max-width: 767px) {
  .sc-works .group-contents .img-area.img-area01 {
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    margin-bottom: 50px;
  }
}
.sc-works .group-contents .img-area.img-area02 {
  top: 13vw;
  right: 8vw;
  width: 30%;
  height: 32vw;
}
@media (max-width: 767px) {
  .sc-works .group-contents .img-area.img-area02 {
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    margin-bottom: 50px;
  }
}
.sc-works .group-contents .img-area.img-area03 {
  top: 80vw;
  left: 5vw;
  width: 30%;
  height: 30vw;
}
@media (max-width: 767px) {
  .sc-works .group-contents .img-area.img-area03 {
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    margin-bottom: 50px;
  }
}
.sc-works .group-contents .img-area.img-area04 {
  top: 52vw;
  right: 5vw;
  width: 53%;
  height: 45vw;
}
@media (max-width: 767px) {
  .sc-works .group-contents .img-area.img-area04 {
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    margin-bottom: 50px;
  }
}
.sc-works .group-contents .img-area img {
  width: 150%;
  height: 150%;
  object-fit: cover;
  object-position: 0px -200px;
}
@media (max-width: 767px) {
  .sc-works .group-contents .img-area img {
    width: 110%;
    height: 110%;
    object-position: 0 0;
  }
}
.sc-works .group-contents .img-box {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
}
.sc-works .group-contents .text-box {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.sc-works .group-contents .hide-box .desc {
  display: block;
  width: max-content;
  padding: 0.6vw 1.5vw;
  font-size: 0.6vw;
  background: #fff;
  color: #282828;
  margin: 10px 0;
}
@media (max-width: 767px) {
  .sc-works .group-contents .hide-box .desc {
    padding: 1.5vw 3vw;
    font-size: 1vw;
  }
}
.sc-works .group-contents .open-box {
  display: flex;
  align-items: center;
}
.sc-works .group-contents .desc {
  padding: 1vw 2.5vw;
  border-radius: 200px;
  font-size: 2vw;
  background: #fff;
  color: #282828;
  margin-right: 12px;
}
@media (max-width: 1023px) {
  .sc-works .group-contents .desc {
    padding: 14px 38px;
    font-size: 22px;
  }
}
.sc-works .group-contents .point {
  color: #282828;
}
.sc-works .group-contents .arrow {
  padding: 1.5vw;
  border-radius: 50%;
  background: #fff;
}
@media (max-width: 1023px) {
  .sc-works .group-contents .arrow {
    padding: 18px;
  }
}
.sc-works .group-contents .arrow svg#arrow {
  width: 1.5vw;
}
@media (max-width: 1023px) {
  .sc-works .group-contents .arrow svg#arrow {
    width: 18px;
  }
}
.sc-works .group-bottom .text-box {
  padding: 15% 0 10% 65%;
}
@media (max-width: 767px) {
  .sc-works .group-bottom .text-box {
    width: max-content;
    margin-left: 7vw;
    padding: 15vw 0 20vw;
  }
}
.sc-works .group-bottom .desc {
  display: block;
  margin-bottom: 25px;
  font-size: 12px;
  color: #a2a2a2;
}
.sc-works .group-bottom .link-site {
  position: relative;
  display: block;
  width: max-content;
  font-size: 20px;
  margin: 5px 0;
  color: #383838;
}
@media (max-width: 767px) {
  .sc-works .group-bottom .link-site {
    color: #fff;
  }
}
.sc-works .group-bottom .link-site::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #383838;
}
.sc-works .group-bottom .link-site::after {
  content: "🡥";
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: translateY(-4px);
  padding-left: 5px;
  opacity: 0;
  transition: opacity 0.6s;
  color: #14cf93;
}
.sc-works .group-bottom .link-site:hover::after {
  opacity: 1;
}
.sc-works .group-bottom .link-site:hover::before {
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-name: stroke;
}
.sc-works .group-bottom .btn-box {
  padding-bottom: 7%;
}
.sc-works .group-bottom .link-book {
  display: block;
  width: 90%;
  padding: 24px;
  margin: 0 auto;
  border: 1px solid rgba(150, 148, 148, 0.4);
  border-radius: 200px;
  font-size: 20px;
  text-align: center;
  color: #414141;
  transition: background-color 0.5s;
}
.sc-works .group-bottom .link-book .i {
  font-family: "Mazius", sans-serif;
}
@media (max-width: 767px) {
  .sc-works .group-bottom .link-book {
    margin-bottom: 50px;
    color: #fff;
  }
}
.sc-works .group-bottom .link-book.active {
  background: #fff;
  color: #000;
}

.sc-develop {
  padding: 150px 0 200px;
}
@media (max-width: 767px) {
  .sc-develop {
    padding: 130px 0 130px;
    background: #151515;
  }
}
.sc-develop .group-title {
  position: relative;
  display: flex;
  align-items: end;
  padding-bottom: 15vw;
  margin: 0 5vw;
}
@media (max-width: 767px) {
  .sc-develop .group-title {
    display: block;
    padding-bottom: 60px;
  }
}
.sc-develop .group-title .title {
  display: flex;
  overflow: hidden;
}
.sc-develop .group-title .text {
  display: block;
  font-size: 9vw;
  line-height: 1;
  color: #383838;
}
@media (max-width: 767px) {
  .sc-develop .group-title .text {
    font-size: 15vw;
    color: #fff;
  }
}
.sc-develop .group-title .sub-title {
  padding-left: 20vw;
}
@media (max-width: 767px) {
  .sc-develop .group-title .sub-title {
    padding-left: 30vw;
    padding-top: 40px;
  }
}
.sc-develop .group-title .sub-title .desc {
  font-size: 12px;
  color: #a2a2a2;
}
.sc-develop .group-title .sub-title .i {
  font-family: "Mazius", sans-serif;
}
.sc-develop .group-title .arrow-ico {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 767px) {
  .sc-develop .group-title .arrow-ico {
    display: none;
  }
}
.sc-develop .group-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
}
@media (max-width: 767px) {
  .sc-develop .group-contents {
    flex-direction: column-reverse;
  }
}
.sc-develop .left-area {
  width: 22%;
}
@media (max-width: 767px) {
  .sc-develop .left-area {
    width: 100%;
  }
}
.sc-develop .m-arrow-ico {
  display: none;
}
@media (max-width: 767px) {
  .sc-develop .m-arrow-ico {
    display: block;
    float: right;
  }
  .sc-develop .m-arrow-ico svg {
    stroke: #fff;
    transform: rotate(90deg);
  }
}
@media (max-width: 767px) {
  .sc-develop .my-box {
    padding-top: 80px;
  }
}
.sc-develop .my-box .desc {
  display: block;
  margin-bottom: 25px;
  font-size: 12px;
  color: #a2a2a2;
}
.sc-develop .my-box .text {
  font-size: 1.2vw;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 500;
  color: #414141;
}
@media (max-width: 767px) {
  .sc-develop .my-box .text {
    color: #fff;
    font-size: 4vw;
  }
}
.sc-develop .my-box img {
  border-radius: 18px;
  margin-top: 20px;
}
.sc-develop .my-box .info-text {
  display: block;
  padding-top: 20px;
  font-size: 0.7vw;
  font-family: "Pretendard-Regular", sans-serif;
  color: #a2a2a2;
}
@media (max-width: 767px) {
  .sc-develop .my-box .info-text {
    font-size: 3vw;
  }
}
.sc-develop .right-area {
  width: 64%;
}
@media (max-width: 767px) {
  .sc-develop .right-area {
    width: 100%;
    margin-bottom: 100px;
  }
}
.sc-develop .develop-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid rgba(65, 65, 65, 0.3);
}
.sc-develop .develop-item .desc {
  font-size: 15px;
  letter-spacing: 1px;
  color: #a2a2a2;
}
.sc-develop .develop-item .i {
  font-family: "Mazius", sans-serif;
  font-weight: 500;
}
.sc-develop .develop-item .text-box {
  display: flex;
  justify-content: end;
  width: 85%;
  margin-right: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .sc-develop .develop-item .text-box {
    width: 80%;
  }
}
.sc-develop .develop-item .tit {
  font-size: 1vw;
  font-weight: 500;
  font-family: "Pretendard-Regular", sans-serif;
  line-height: 1.5;
  color: #414141;
}
@media (max-width: 767px) {
  .sc-develop .develop-item .tit {
    font-size: 15px;
    color: #fff;
  }
}

@keyframes stroke {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}