@font-face {
    font-family: 'Gilroy';
    src: url(../../font/Gilroy-Medium.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../../font/Gilroy-SemiBold.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Mazius';
    src: url(../../font/Mazius-Extraitalic.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}