@mixin positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}

@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}

@mixin desktop{
  @media (max-width: $desktop){
    @content;
  }
}

@mixin animation ($delay, $duration, $name) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name
}

@mixin keyframe ($animation_name) {
  @keyframes #{$animation_name} {
      @content;
  }
}
